    <section>
      <div class="row">

      <!--Make magic happen here Ruby!-->
      <% @tacos.each do |taco| %>

        <div class="col-sm-4">
          <div class="taco_single">
            <h2><%= taco.name %></h2>
            <p>Price: <%= taco.price %></p>
            <a href="/tacos/<%= taco.id %>" title="View Taco"><img src="<%= taco.image %>" alt="<%= taco.name %>" class="img-responsive taco_single_image"></a>
            <p>Description: <%= taco.description %></p>
            <p>Rating: <span class="rating"><%= taco.rating %></span></p>
          </div>
        </div>
      <% end %>
      <!--Magic ends-->

      </div>
    </section>
    <%= link_to "Add New Recipe", "tacos/new" %>
