  <section>
    <div class="row">    
      <div class="col-sm-9">
        <div class="taco_single">
            <h2><%= @taco.name %></h2>
            <p>Price: <%= @taco.price %></p>
            <img src="<%= @taco.image %>" alt="<%= @taco.name %>" class="img-responsive">
            <p>Description: <%= @taco.description %></p>
            <p>Rating: <span class="rating"><%= @taco.rating %></span></p>
            <%= link_to "Edit", "/tacos/#{@taco.id}/edit", class: "btn btn-success" %>
            <%= link_to "Delete", "/tacos/#{@taco.id}", {method: :delete, class: "btn btn-danger" }%>
        </div>
      </div>
    </div>
  </section>
