<!DOCTYPE html>
<html>
<head>
  <title>The Taco Store | Exploding Tacos & More!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
      <div class="row">
        <div class="col-sm-4">
          <a href="/" title="Home"><img src="https://www.tacobobs.com/03_images/TacoBobswebLOGO.png" alt="Logo & Home" class="img-responsive center-block"></a>
        </div>
        <div class="col-sm-8">
          <h1>The Taco Store</h1>
        </div>
      </div>
</header>
<div class="container-fluid">
<% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p><%= message %></p>
  </div>
  <% end %>
<%= yield %>
</div>
</body>
</html>
